{% extends "base.html" %}
{%block content%}

    <h3>登録済みメールアドレス一覧</h3>

    <p>
        <select name="address_list" size="10">   
            {%  for teacher in teachers: %}
                <option value={{teacher.last_name}}>{{teacher.last_name + " " + teacher.first_name + "\t:\t" + teacher.email_address}}</option>
            {% endfor %}
                
            
        </select>
    </p>


    <form method="post">

        
        <h3>名前を入力してください（姓/名）</h3>
    
        <label for="last_name">姓:</label>
    
        <input type="text" id="last_name" name="last_name" required
           minlength="1" maxlength="20" size="10">
    
        <label for="first_name">名:</label>
    
        <input type="text" id="first_name" name="first_name" required
           minlength="1" maxlength="20" size="10">
    
    
        <h3>メールアドレスを入力してください</h3>
    
        <label for="email">Enter your globex.com email:</label>
        <input type="email" id="email" name="email"  size="30" required>

        <h3>教室を選んでください</h3>
    
        <select name="branch_selection">
            {% for branch in branches %}
                <option value={{branch.id}}> {{branch.name}} </option>
            {% endfor %}
        </select>

        <h3>学年を選んでください</h3>

        <select name="grade">
            {% for grade in  range(7)%}
                {% if grade == 0 %}
                    <option value={{grade}}> 社員 </option>
                {% else %}
                    <option value={{grade}}> {{grade}} </option>
                {% endif %}
                
            {% endfor %}
        </select>


        <p><input type="submit" value="追加する"></p>
        
    </form>



{% endblock %}
    