<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>出勤メールプログラム</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"role="button">送信日時指定</a></li>
            <li><a href="/add_teachers_info"role="button">講師情報追加</a></li>
            <li><a href="/del_teachers_info"role="button">講師情報削除</a></li>
            <li><a href="/display_activity"role="button">メール既読確認</a></li>
            
          </ul>
    </nav>
    {% block content %}

    {% endblock %}
    
</body>
</html>