{% extends "base.html" %}
{%block content%} 
    <form method="post">

        <h3 class="my-3 mx-2">登録済みメールアドレス一覧</h3>
        <div class="mx-2 my-3">
            <select class="form-select" id="del_sel" name="del_sel">
              {%  for teacher in teachers: %}
                <option value= {{teacher.id}}>{{teacher.last_name + " " + teacher.first_name + "\t:\t" + teacher.email_address}}</option>
              {% endfor %}
            </select>
        </div>
        
        <div class="my-3 mx-2">
            <button type="submit" class="btn btn-danger">削除する</button>
        </div>
        
    </form>



{% endblock %}
    