{% extends "base.html" %}
{%block content%}

<h3>登録済みメールアドレス一覧</h3>    
    <form method="post">
        
        <p>
            <select name="del_sel" >   
                {%  for teacher in teachers: %}
                    <option value= {{teacher.id}}>{{teacher.last_name + " " + teacher.first_name + "\t:\t" + teacher.email_address}}</option>
                {% endfor %}          
            </select>
        </p>     

        <p><input type="submit" value="削除する"></p>
        
    </form>



{% endblock %}
    