{% extends "base.html" %}
{%block content%}

<h3>登録済みメールアドレス一覧</h3>    
    <form method="post">
        
        <p>
            <select name="address" >   
                {%  for email in emails: %}
                    <option value= {{email.id}}>{{email.last_name + " " + email.first_name + "\t:\t" + email.email_address}}</option>
                {% endfor %}          
            </select>
        </p>     

        <p><input type="submit" value="削除する"></p>
        
    </form>



{% endblock %}
    