{% extends "base.html" %}
{%block content%}

{% set Event_type = {"open": "open", "delivered": "delivered", "processed": "processed"} %}


<form method="post">

    <div class="row g-3 m-3">
        <div class="col-md-2">
            <input type="text" class="form-control" name="calendar" id="calendar" placeholder="クリックして日時設定">
            <script>
                flatpickr('#calendar',{
                    locale: 'ja',
                });
            </script>

        </div>
    </div>
</form>


<table class="table m-3">
    <thead>
        <tr>
            <th>イベント名</th>
            <th>コーチ氏名</th>
            <th>日時</th>
        </tr>
    </thead>
    <tbody>

        {% for teacher,act in teachers_attendance.items() %}
        <tr>
            <td> 
                {% if act.event_type == Event_type.open %}
                    <i class="bi bi-envelope-open"></i> 開封済み
                {% elif act.event_type == Event_type.delivered %}
                    <i class="bi bi-envelope-fill"></i> 送信済み
                {% elif act.event_type == Event_type.processed %}
                    <i class="bi bi-slash-square"></i> 保留中
                {% else %}
                    
                    
                {% endif %}
                
            </td>
            <td>{{ teacher.last_name + teacher.first_name }}</td>
            <td>{{ act.time_record }}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>




{% endblock %}

<!-- mail open <i class="bi bi-envelope-open"></i> -->