{% extends "bootstrap/base.html" %}
{%block content%}

{{ date }}

<table class="table">
    <thead>
        <tr>
            <th>イベント名</th>
            <th>コーチ氏名</th>
            <th>日時</th>
        </tr>
    </thead>
    <tbody>

        {% for teacher,act in teachers_attendance.items() %}
        <tr>
            <td>{{ act.event_type }}</td>
            <td>{{ teacher.last_name + teacher.first_name }}</td>
            <td>{{ act.time_record }}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>




{% endblock %}