{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" href="static/css/index.css">  

    <h1>
        出勤メールプログラム
    </h1>

    <table>
        <tr>
            <th>
                <p>現在の設定日時</p>
            </th>
        </tr>
        <tr>
            <td> <p>{{exe_date}}</p></td>
        </tr>
        <tr>
            <td><p>{{exe_hour}}</p></td>
        </tr>
        <tr>
            <td><p>{{exe_min}}</p></td>
        </tr>
    </table>
    
   
    

    <p><a href="/add_email"role="button">メールアドレス追加</a></p>
    <p><a href="/del_email"role="button">メールアドレス削除</a></p>
    


    <form method="post">

        <p>
        <select name="exe_day">
        <option value="当日">当日</option>
        <option value="前日">前日</option>
        <option value="二日前">二日前</option>
        <option value="三日前">三日前</option>
        </select>
        </p>

        <input type="time" name="exe_time" value={{exe_time}}>
        
        <p><input type="submit" value="送信する"></p>
        
    </form>
    



{% endblock %}
    